$MintGreen:      	#DFFFE9;
$LightGreen:     	#D3FBD8;
$Shamrock:       	#5FFA84;
$Foam:           	#6CFFCF;
$White:          	#FFFFFF;
$LighterGrey:      	#FAFAFA;
$LightGrey:      	#D2D2D2;
$Blurple: 			#8B92FF;
$RoyalPurple:   	#9c64fa;
$LightBlue:      	#6CBBFF;
$LighterBlue:    	#A6DEF8;
$Yorange:        	#F7D783;
$Peach: 	        #F7926A;
$Yellow:         	#FAFF6C;
$Pred:           	#FF6C9C;
$BackgroundGrey: 	#111114;
$LighterBGGrey:  	#222228;



$text-primary: $Blurple;
$text-code: $Pred;

$bg-primary: $LighterBGGrey;
$bg-secondary: $BackgroundGrey;
$bg-code: $LighterBGGrey;

$medium-text: 1rem;
$large-text: 2rem;

$font-weight-heavy: 200;
$font-weight-regular: 600;
$font-weight-heavy: 800;