@use "/static/variables.scss" as *;

.post-display {
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 0;

	p {
		margin: 0.5rem 0;
	}

	p {
		&:has(img, video) {
			max-width: 80%;
			margin: auto;
		}

		img, video {
			max-width: 100%;
			margin-top: 2rem;
		}

	}

	td, th {
		// border: thin solid var(--text-primary);
		padding: 0.25rem 0 0.25rem 1rem;
		border-right: 1px solid var(--text-secondary);
	}

	table {
		width: 50%;
		border-collapse: collapse;
		
		
		thead, tbody {
			border: 3px solid var(--text-secondary);
			tr {
				border-bottom: thin solid var(--text-tertiary);
			}
		}
	}

	h3 {
		color: var(--text-secondary);
		font-size: $medium-text;
		font-weight: $font-weight-heavy;
	}

	h4 {
		margin: 0 auto;
		color: var(--text-tertiary);
		font-size: $tiny-text;
	}
}

@media only screen and (max-width: 1000px) {
	.post-display {
		table {
			width: 75%;
		}
	}
}


.main-text__description {
	p {
		&:has(img) {
			margin: auto;
			max-width: 75%;
		}

		img {
			max-width: 100%;
		}
	}
}