@use "../../static/variables" as *;


.main-page {

	display: flex;
	flex-direction: column;

	margin: 0 auto;
	padding: 1rem;
	width: 100%;

	background-color: var(--bg-primary);

	border: 1px solid --panel-border;

	border-radius: 0.5rem;

	&__pfp {
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
		margin: auto;
	}
}

.main-text {
	text-align: center;
	font-size: $medium-text;
	font-weight: $font-weight-regular;
	letter-spacing: 0.25px;
	
	padding: 1rem;
	width: 60%;
	align-self: center;
	
	&__header {
		
		color: var(--text-secondary);
		font-size: $large-text;
		font-weight: $font-weight-heavy;
		&--title {
			text-transform: capitalize;
		}
	}


	&__description {
		font-size: $medium-text;
		text-align: left;
		color: var(--text-secondary);

		&--centered {
			text-align: center;
		}
	}

	&__divider {
		color: var(--text-secondary);
		width: 65%;
		color: var(--text-secondary);
	}

	&__read-more {
		text-align: center;
		color: var(--text-primary);
	}
}

:global(code) {
	background-color: var(--bg-code);
	color: var(--text-code);
	padding: 0 0.25rem;
}

:global(pre) {
	width: 100%;
	background-color: var(--bg-code);
	border-radius: 0.5rem;
	padding: 0.5rem;
	:global(code) {
		padding: 0;
		color: unset;
	}
}

:global(.language-gdscript) {
	:global(.comment) {
		color: var(--text-code-comment);
	}
	:global(.keyword) {
		color: var(--text-code-keyword);
	}
	:global(.class-name) {
		color: var(--text-code-class-name);
	}
	:global(.function) {
		color: var(--text-code-function);
	}
	:global(.punctuation) {
		color: var(--text-code-punctuation);
	}
	:global(.operator) {
		color: var(--text-code-operator);
	}
	:global(.string) {
		color: var(--text-code-string);
	}
}