@use "../main.scss" as *;
@use "/static/variables.scss" as *;


.project-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2rem 0;

		&-link {
			width: 75%;
			margin: 0 0 1rem 0;
		}

		&-thumbnail {
			max-width: 100%;
			margin: auto;
			border-radius: 0.5rem;
			border: 3px solid transparent;

			&:hover {
				transform: scale(1.05);
				border-color: var(--text-primary);
			}

			&:focus {
				transform: scale(1.05);
				border-color: var(--text-primary)
			}

			transition: transform 100ms ease-out,
			border-color 100ms ease-out;
		}

		&-title {
			font-size: $medium-text;
			font-weight: $font-weight-heavy;
			max-width: 75%;
			text-align: center;

			&__date {
				color: var(--text-secondary);
				font-size: $small-text;
				text-decoration: none;

				&:hover,
				&:focus,
				&:visited,
				&:link {
					text-decoration: none;
				}
			}
		}
	}
}


@media only screen and (max-width: 1000px) {
	.project-grid {
		grid-template-columns: repeat(2, 1fr);

		&__item {
			&-link {
				width: 90%;
			}

			&-thumbnail {
				max-width: 100%;
			}

			&-title {
				font-size: calc($medium-text - 0.25rem);

				&__date {
					font-size: calc($small-text - 0.1rem);
				}
			}
		}
	}
}

.project-sort-controls {
	display: flex;
	margin: auto;
	justify-content: space-between;
	gap: 1rem;

	&__button {
		background: none;
		border: none;
		text-decoration: underline;
		color: var(--text-primary);
		cursor: pointer;
	}
}

@media only screen and (max-width: 1000px) {
	.project-sort-controls {
		gap: 0.5rem;
	}
}

a {
	color: var(--text-primary);
}

a:link {
	text-decoration: underline;
}

a:visited {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}