@use "/src/routes/main.scss" as *;


:global(.social-page__link-item) {
	&:link, &:hover, &:focus, &:visited {
		text-decoration: underline;
		color: var(--text-primary);
	}
}

.page-content {
	width: 100%;
}


.social-page {
	&__links {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1rem;
	}
}